# Task 1

'''
2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included). 
The numbers obtained should be printed in a comma-separated sequence on a single line.
'''

In [ ]:
li=[]
for x in range(2000, 3200):
    if (x%7==0) and (x%5==0):
        li.append(str(x))
print (','.join(li))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

'''
3. Write a Python program to accept the user's first and
last name and then getting them printed in the the reverse order with
a space between first name and last name.
'''

In [ ]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : Vaibhav
Input your Last Name : Srivastav
Hello  Srivastav Vaibhav


4. Write a Python program to find the volume of a sphere with diameter 12 cm.

Formula: V=4/3 * Ï€ * r3

In [ ]:
Diam_cm = 12
radius_cm = 6 # radius = Diameter/2
pie = 3.14

# formula 

Volumn = (4/3 * pie * (radius_cm ** 3))

print(Volumn)

904.3199999999999

# Task 2
'''
1. Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

'''

In [ ]:
number=input()
list1_num=number.split(",")
list1_num

1,KL,2

['1', 'KL', '2']

'''
2. Create the below pattern using nested for loop in Python.

'''

In [ ]:
for i in range(0,9):
    if(i <= 4):
        for j in range(0,i+1):
            print("*", end=" ")
        print("\n")
    else:
        for j in range(i,9):
            print("*", end=" ")
        print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

'''
3. Write a Python program to reverse a word after accepting the input from the user.
'''

In [ ]:
a=input("Enter text: ")
print(a[::-1])

Enter text: VSTEch
hcETSV

'''
4. Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN, !
         SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
          and to secure to all its citizens

'''

In [ ]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens